body,html{
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 600px;
    background-color: #2a2a3d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color : white;
}

.navColor{ /* couleur de fond du bandeau en haut */
    background-color: #6497ba;
}

.couleurTexteBandeau{
    color: white;
}

.page{
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.image{
    width: 60vh;
    height: 60vh;
    border-radius: 10px;
    border: 5px solid brown;

}

.page2 {
    display: none; /* Cachée par défaut */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageHome {
    display: flex; /* Visible par défaut */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo-with-text {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre verticalement le texte par rapport au logo */
    gap: 10px; /* Espacement entre le logo et le texte */
}

.logo {
    width: 50px; /* Largeur du logo */
    height: 50px; /* Hauteur du logo */
    border-radius: 10px; /* Coins arrondis, si souhaité */
}

.logo-text {
    font-size: 1.5rem; /* Taille du texte */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
}


